*{
    font-size: 12px;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

input[type="checkbox"].chip {
    opacity: 0;
    position: absolute;

    left: -9000px;
    right: -90000px;
}

input[type="checkbox"].close-icon {
    opacity: 0;
    position: absolute;

    left: -9000px;
    right: -90000px;
}

input[type="checkbox"].chip + label{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].chip + label{
    width: fit-content;
    padding: .85em 1em;
    /* background-color: #6B82F8;
    color: white; */
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"].chip-filled + label{
    background-color: #6B82F8;
    color: white;
}

input[type="checkbox"].chip-outlined + label{
    background-color: transparent;
    border: 1px solid lightgrey;
    color: #2F2E41
}

input[type="checkbox"].chip:checked + label{
    outline: 1px solid #6B82F8;
    outline-offset: .2em;
}

input[type="checkbox"].chip:hover:enabled + label{
    transform: scale(1.025);
}

input[type="checkbox"].chip:disabled + label{
    /* transform: scale(1.025); */
    cursor: default;
    background-color: rgb(212, 212, 212);
    color: white;
}

input[type="checkbox"].close-icon:checked + div{
    display: none;
}

.label{
    margin: 0 .75em;
}

.close-icon-button{
    cursor: pointer;
}

.close-icon-button:hover{
    cursor: pointer;
    transform: scale(1.2);
}